<!-- header  
<header class="jb-header">
    <app-header (shareDataEvent) = "dashboard.sendData($event)"></app-header>
</header>
<div class="container-fluid">
    <div class="row">
        <aside class="col-2 sidebar">
         content based on rooting 
        <app-sidebar #dashboard></app-sidebar>
        </aside>
        <section class="col-10  main-content"><router-outlet></router-outlet></section>
    </div>
</div>

 footer 
<footer class="footer"><app-footer></app-footer></footer>-->
<router-outlet></router-outlet>