aside {
  background: #007b8efa;
  color: #fff;
  max-width: 168px;
  padding: 0px;
  min-height: 600px;

  .nav-pills .nav-link.active {
    color: #007b8f;
    background-color: #f7f7f7;
    border-radius: 0;
  }

  .nav-item {
    a {
      color: #fff;
      text-decoration: none;

      span {
        margin-left: 10px;
      }

      i.fa {
        font-weight: 100;
      }
    }
  }

  &.hide-text {
    width: 58px;

    .nav-link span {
      display: none;
    }
  }
}