<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" title="Dashboad" [routerLink]="['dashboad']" [routerLinkActive]="['active']"> <i class="fa fa-hourglass"></i><span>Dashboad</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  title="Profile" [routerLink]="['profile/1']" [routerLinkActive]="['active']"><i class="fa fa-user"></i><span>Profile</span></a>
    </li>
    <li class="nav-item">

        <a class="nav-link"  title="Task" [routerLink]="['task']" [routerLinkActive]="['active']"><i class="fa fa-list-alt"></i><span>Task</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  title="Users" [routerLink]="['user']" [routerLinkActive]="['active']"><i class="fa fa-id-card"></i> <span>Users</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  title="Mail" [routerLink]="['mail']" [routerLinkActive]="['active']"> <i class="fa fa-envelope"></i><span>Mail</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  title="Timesheet" [routerLink]="['timesheet']" [routerLinkActive]="['active']"><i class="fa fa-hourglass"></i><span>Timesheet</span></a>
    </li>
</ul>
